<title>About</title>
{% extends 'layout.html' %}
 
{% block body %}
 
<p> This is a About Page</p>
<div id="hero">
    <div id="hero-1"></div>
</div>
<div id="cards">
    <div class="card">
        1
        <button>Aventador</button>
    </div>
    <div class="card">
        2
        <button>Aventador</button>
    </div>
    <div class="card"></div>
        3
        <button>Aventador</button>
    </div>
</div>
<!-- <img src="{{ url_for ('static', filename='img/56.jpg')}}" alt="Not found" width="90%" margin="10%"> -->
 
{% endblock %}